[Desktop Entry]
Name=HP42S Emulator "Decimal" Edition
GenericName=HP42S Emulator 
Comment=Use an HP42S on your desktop
TryExec=free42dec
Exec=free42dec
Icon=/usr/share/pixmaps/free42.xpm
Terminal=false
Type=Application
Categories=GTK;Utility;Calculator
StartupNotify=true
