#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build --sourcedirectory=gtk
	dh_auto_build --sourcedirectory=gtk -- BCD_MATH=1

override_dh_auto_clean:
	rm -f gtk/free42.xpm
	dh_auto_clean --sourcedirectory=gtk -- cleaner

override_dh_auto_install:
	cp gtk/icon.xpm gtk/free42.xpm

override_dh_installchangelogs:
	dh_installchangelogs HISTORY
